<div class="row">
  <div class="visible-xs-block">
    xs
  </div>
  <div class="visible-sm-block">
    sm
  </div>
  <div class="visible-md-block">
    md
  </div>
  <div class="visible-lg-block">
    lg
  </div>
</div>
