<div class="container-fluid">
  <div class='row'>
    <div class="col-sm-offset-1 col-sm-10">
      <p class="lead text-center">
        Notice a bug? Something not working the way you expect? Have a great suggestion? Create a new issue <%= link_to 'here', 'https://gitlab.com/perobertson/requisition/issues', target: '_blank' %>
      </p>
    </div>
  </div>
</div>
